*{
    margin:0;
    padding:0;

}
html,body{
    height: 100%;
    width: 100%;
  
}
body{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: black;
}
.card{
    margin: 30px 40px 50px 60px;
    padding: 30px 40px 50px 60px;
    height: 400px;
    width: 400px;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: 3s;
}
.card img:hover{

    transform: scale(1.1);

}
#card h1{
    font-size: 25px;
    margin: 10px  0;

}
.card h3{
    font-size: 25px;
    color: red;
    margin: 20px;
}
.card  button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.card .remove{
    background-color: #dadada;
    color:#111;

}